

$color-primary: #55c57a;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485; 
$color-grey: #777;
$color-purple: #585a91;
$color-black: #000;
$color-white: #fff;


*,
*::after,
*::before {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
 }
html {
    font-size: 62.5%; // 16px 
}
 @mixin mainBody($color,$Fontsize) {
    font-family: "Lato", sans-serif;
     font-weight: 400;
     font-size: $Fontsize;
     line-height: 1.7rem;
     color: $color; 
     padding: 3rem;
     box-sizing: border-box;
 }
 
 body {
     @include mainBody($color-purple,1.6rem);
 }
 
 .header {
     height: 95vh;
     background-image: linear-gradient(to right bottom,
     rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),
     url(../img/SnowboardBulgaria.jpg);
     background-size: cover;
     background-position: top;
     clip-path: polygon(0 0, 100% 0%, 100% 75%,0% 100%);
     border-radius: 2.5rem;

     &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 25%;
        transform: translate(-50,-50);
        text-align: center;
    }
 }
 

 
 .heading-primary {
     color: white;
     text-transform: uppercase;
     backface-visibility: hidden;
     padding-bottom: 2rem;

     &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name:  moveinLeft;
        animation-duration: 3s;
        animation-delay: 1.5s;
        animation-iteration-count: initial;
        margin-bottom: 2rem;
   
    }
    
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700px;
        letter-spacing: 17.4px;
        animation-name: moveinRight;
        animation-duration: 3s;
        animation-delay: 1.5s;
    }
 }
 
 
 @keyframes moveinLeft {
     0% {
         opacity: 0;
         transform: translateX(-100px);
     }
 
     50% {
         transform: translateX(10px);
     }
 
     100% {
         opacity: 1;
         transform: translateX(0);
     }
 }
 
 @keyframes moveinRight {
     0% {
         opacity: 0;
         transform: translateX(100px);
     }
     50% {
         transform: translateX(-10px);
     }
    
     100% {
         opacity: 1;
         transform: translateX(0);
     }
 }
 
 @keyframes moveinBottom {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }
     80% {
 
     }
 }
 
 .btn:link,
 .btn:visited {
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 40px;
     display: inline-block;
     border-radius: 10rem;
     transition: all .2s;
     box-shadow: 0 3px 80px rgba(20, 80, 62, 0.8);
     position: relative;
 
 }
 .btn:hover {
     transform: translateY(-4px);
     box-shadow: 0 1rem 2rem rgba($color-black,.3);
 }
 
 .btn:active {
     transform: translateY(-1px);
     box-shadow: 0 5px 10px rgba($color-black,.2);
 }
 
 .btn--white {
     background-color: $color-white;
     color: #777;
 }
 
 .btn::after {
     content: "";
     display: inline-block;
     height: 100%;
     width: 100%;
     border-radius: 10rem;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     transition: all .4;
 }
 .btn-white::after {
     background-color: $color-white;
 }
 
 .btn:hover::after {
     transform: scaleX(1.4) scaleY(1.6);
     opacity: 0;
 }
 
 .btn-animated {
     animation: moveinBottom .5s ease-out .75s;
     animation-fill-mode: backwards;
     
 }