.navigation {
   
    
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000; // remains on top of everthing even as per __background
        box-shadow: 0 1rem 3rem rgba($color-black,0.2); 
        text-align: center;
        cursor: pointer;
        
    }
    &__background { 
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position:fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        z-index: 1000;  // remains on top of everything
        //transform: scale(80); 
        transition: transform .8s cubic-bezier(0.25, 0.46, 0.45, 0.94); // https://cubic-bezier.com/#.2,1.41,.27,.48
    }

    &__nav {
        height: 100vh; //view port height 100%
        width: 100%;
        position: fixed; // Remains static even when scrolling
        top: 0; // position the menu <ul>& <li> items in the top right corner 0
        left:0; // As above 
        z-index: 1500; // In the middle 
        
        opacity: 0;
        width: 0;
        transition: opacity .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include fiftyfifty;
    }

    &__item {
        margin: 3rem;

    }

    &__link {
        &:link, 
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 1rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg,rgba(transparent, 0) 0%, rgba(transparent,0) 50%, $color-white 50%);
            background-size: 220%; // Cover the entire background as much as possible
            transition: all .8s; // slow transition of animation 

            span { // <ul> Numbers 01 - 04 
                padding-right: 1.5rem;
                display: inline-block;
            }
    }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark; // show the 'green' whilst the background is white.
            transform: translateX(-5rem); //Move 50px left  
        }
    }

    //Functionality 
    &__checkbox:checked ~ &__background {
        transform: scale(80);
        
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1; //show 
        width: 100%;
        
    }
    &__checkbox { // Hide the checkbox during homepage load
        display: none;
      
    }

    //ICON animation ::before and after effects

    &__icon {
        position: relative;
        margin-top: 3.5rem;
                    //!!!---- HAMBUGER MENU----- 
        &,          // 1) The Icon element itself
        &::before, // 2) The peusdo element before
        &::after{ // 3) The peusdo element after 
            width: 3rem;
            height: 2px; // Remains in pixel so it doesn't change unlike rem does with responsive 
            background-color: $color-grey-dark-3;
            display: inline-block;
        }
        &::before, 
        &::after {
            content: ""; // We need to set the content despite being nothing to trick element(s) to being present  
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {top: -.8rem;} // Distance for the hambuger's layers (TOP)
        &::after {top: .8rem;} //Bottom
    }

    &__button:hover &__icon::before { // On button's hover  
        top: -1rem; //Move up 10px (top layer)
    }
    &__button:hover &__icon::after {
        top: 1rem; // Move down 10px (bottom layer)
    }
    // Once checkbox checked use the child element icon within the button class
    &__checkbox::checked + &__button &__icon {
        background-color: transparent;
    }
}